@{
    ViewBag.Title = "About";
}
<h2>关于闲趣</h2>

<p>闲趣，一个致力于打造快捷的校内闲置物品打造的网站</p>
<br />
<address>
    <p>
        如果对于网站有何建议或意见，欢迎联系我们：<br />
    <strong>Contact</strong> <a href="mailto:lk201330912@outlook.com">lk201330912@outlook.com</a>
    </p>
</address>
