@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>闲趣</h1>
    <p class="lead">闲趣网致力于为大学生提供一个便捷的闲置物品交易平台</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>闲书</h2>
        <p>
           二手书籍交易 
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Book","WareManage")">点此发现更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>电子物品区</h2>
        <p>将闲置电子产品变现</p>
        <p><a class="btn btn-default" href="@Url.Action("Electronic","WareManage")">点击发现更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>生活专区</h2>
        <p>生活专区</p>
        <p><a class="btn btn-default" href="@Url.Action("Life", "WareManage")">点此发现更多乐趣 &raquo;</a></p>
    </div>
</div>