
@{
    ViewBag.Title = "DetailView";
}

<br />
<br />
<h2>商品详情</h2>
<hr />
<div id="GoodsDetail">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Resources/012.jpg" style="width:100%" alt="C#" />
            </div>
            <div class="col-md-5">
                <h4>C#入门经典</h4>
                <hr />
                <label for="price"><span class="text-danger">RMB 32.3</span></label>
                <p class="text-primary">作者：Benjamin Perkins Jacob Vibe Hammer Jon D. Reid</p>
                <p class="text-info">C#初学者的指路明灯</p>
                <p class="text-success">有货</p>
                <br />
                <button type="submit" class="btn btn-large btn-primary">加入购物车</button>
                <button type="submit" class="btn btn-large btn-primary">立即购买</button>
            </div>
            <div>
                <div class="col-md-3">
                    <h4>卖家：汤佳杰</h4>
                    <img src="~/Resources/touxiang.jpg" alt="UserFace" />
                    <p><a href="#"> 了解卖家</a></p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <h4>商品评论</h4>
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading"><span>用户8685b310-ffb4-45a9-a53c-ae16ba5f2b7f</span><span> &nbsp;&nbsp;</span><span>评论时间：2017年5月26日</span></div>
                    <div class="panel-body">
                        <p>不错的一本书值得购买！！</p>
                    </div>
                    <div class="panel-footer">
                        <p>评级</p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading"><span>用户12345345322</span><span> &nbsp;&nbsp;</span><span>评论时间：2017年4月6日</span></div>
                    <div class="panel-body">
                        <p>很不错的一本书</p>
                    </div>
                    <div class="panel-footer">
                        <p>评级</p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading"><span>用户3445646445322</span><span> &nbsp;&nbsp;</span><span>评论时间：2017年4月2日</span></div>
                    <div class="panel-body">
                        <p>入门必备教程，无可取代</p>
                    </div>
                    <div class="panel-footer">
                        <p>评级</p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

