@model Xianqu.Web.Models.WareViewModel

@{
    ViewBag.Title = "Electronic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="btn-toolbar" role="toolbar">
        <p class="lead">筛选条件</p>
        <div class="btn-group">
            <button tyep="button" class="btn btn-primary">按价格排序</button>
            <button type="button" class="btn btn-primary">按好评排序</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="~/Resources/Logi.png" alt="图一" />
                <div class="caption">
                    <h4><a href="#">罗技G102游戏鼠标</a></h4>
                    <h4>RMB 13.2</h4>
                    <p>入门级别游戏鼠标，200~6000DPI可调范围</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">234 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="~/Resources/WD.jpg" alt="图一" />
                <div class="caption">
                    <h4><a href="#">西部数据移动硬盘</a></h4>
                    <h4>RMB 233</h4>
                    <p>大厂品质，读写速度如同蛮牛一般强悍</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">23455 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>

        

        <div class="col-md-3">
            <div class="thumbnail">

                <img src="~/Resources/hamankadun.jpg" alt="图一" />
                <div class="caption">
                    <h4><a href="#">哈曼卡顿音响</a></h4>
                    <h4>RMB 455</h4>
                    <p>工匠精神与现代科技的完美结合</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


