
@{
    ViewBag.Title = "Finished";
}

<h2 class="well well-sm">支付成功</h2>
<p>订单已完成，交易成功！</p>
<div class="row">
    <button type="button" class="btn btn-default" ><a href="#">评价订单</a></button>
    <button type="button" class="btn btn-default" ><a href="@Url.Action("Index","Home")">返回首页</a></button>
</div>



