@model Xianqu.Web.Models.WareViewModel
@{
    ViewBag.Title = "WareDetail";
}
<h2>商品详情</h2>
<hr />
<br />

<div class="panel panel-default col-md-10">
    <div class="panel-heading">
        <h3 class="panel-title">商品名</h3>
    </div>
    <div class="panel-body">
        <img class="col-md-3" src="" alt="图一"/>
        <div class="col-md-7">
            <p>我是挫男我姓姜，别人叫我姜付康</p>
        </div>
    </div>
</div>

<h2>WareDetail</h2>

